<div class='u-text-center'>
  <h1>Encounters</h1>

  <mat-card>
    <p>DM Tools Encounters allow you to efficienctly orchestrate combat encounters. Create your monsters then add them
      to
      an encounter. Give your encounter a name, XP value, and more. You can auto-roll initiative for all your monsters.
      You can even save common monsters for use in other encounters. Organize your encounters into an
      infinitely-nestible
      grouping system, too!</p>
  </mat-card>

  <mat-grid-list cols="2" class="col-lg-5 col-md-6 col-sm-8 col-12 u-center u-margin-top" gutterSize="1rem">
    <mat-grid-tile>
      <button mat-raised-button class="w-100 h-100" routerLink="/encounter/encounter-tracker">
        <div class="h-100 u-flex u-flex__align-items--center u-flex__column u-flex__justify--space-evenly w-100">
          <div class="icon-container">
            <i class="fas fa-2x fa-paw-claws"></i><i class="fas fa-2x fa-paw-claws"></i><i class="fas fa-2x fa-paw-claws"></i>
          </div>
          <p>Encounters</p>
        </div>
      </button>
    </mat-grid-tile>

    <mat-grid-tile>
      <button mat-raised-button class="w-100 h-100" routerLink="/encounter/monster">
        <div class="h-100 u-flex u-flex__align-items--center u-flex__column u-flex__justify--space-evenly w-100">
          <div>
            <i class="far fa-3x fa-dragon"></i>
          </div>
          <p>Monsters</p>
        </div>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>