$azure: #3ba3c0;
$red: #c03e2e;
$brown: #624a24;
$purple: #8a1d6e;
$green: #60a342;
$yellow: #d8a413;

$white: #fff;
$black: #010101;

.spell-card {
	&.azure {
		background: $azure;

		.details {
			> div {
				border-color: $azure;

				.details-title {
					color: $azure;
				}

				.concentration {
					div {
						border-bottom-color: $azure;

						&:after {
							border-top-color: $azure;
						}
					}
				}
			}
		}
	}

	&.red {
		background: $red;

		.details {
			> div {
				border-color: $red;

				.details-title {
					color: $red;
				}

				.concentration {
					div {
						border-bottom-color: $red;

						&:after {
							border-top-color: $red;
						}
					}
				}
			}
		}
	}

	&.brown {
		background: $brown;

		.details {
			> div {
				border-color: $brown;

				.details-title {
					color: $brown;
				}

				.concentration {
					div {
						border-bottom-color: $brown;

						&:after {
							border-top-color: $brown;
						}
					}
				}
			}
		}
	}

	&.purple {
		background: $purple;

		.details {
			> div {
				border-color: $purple;

				.details-title {
					color: $purple;
				}

				.concentration {
					div {
						border-bottom-color: $purple;

						&:after {
							border-top-color: $purple;
						}
					}
				}
			}
		}
	}

	&.green {
		background: $green;

		.details {
			> div {
				border-color: $green;

				.details-title {
					color: $green;
				}

				.concentration {
					div {
						border-bottom-color: $green;

						&:after {
							border-top-color: $green;
						}
					}
				}
			}
		}
	}

	&.yellow {
		background: $yellow;

		.details {
			> div {
				border-color: $yellow;

				.details-title {
					color: $yellow;
				}

				.concentration {
					div {
						border-bottom-color: $yellow;

						&:after {
							border-top-color: $yellow;
						}
					}
				}
			}
		}
	}

	h1 {
		font-family: modesto-expanded, serif;
		font-weight: 400;

		color: $black;
		font-size: 1.875rem;
		margin: 0px 0px -5px 0px;
	}

	width: 375px;

	.name {
		background: $white;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	.level {
		text-transform: lowercase;
		font-family: sans-serif;
		font-size: 0.9375rem;
		margin: 3px 0;

		&.atHigherLevels {
			text-transform: capitalize;
		}
	}

	.details {
		> div {
			position: relative;
			flex: 0 0 50%;
			background: $white;
			border-width: 3px;

			&:first-child,
			&:nth-child(2) {
				border-bottom-style: solid;
			}

			&:first-child,
			&:nth-child(3) {
				border-right-style: solid;
			}

			.details-title {
				font-family: modesto-expanded, serif;
				font-weight: 400;

				font-size: 1.1rem;
				margin: 3px 0;
			}

			.details-value {
				font-size: 1rem;
				font-family: modesto-text, serif;
				font-weight: 300;
				margin: 2px 0 0 0;
			}

			.concentration {
				position: absolute;
				right: 5px;
				top: -10%;

				div {
					width: 0;
					height: 0;
					border: 10px solid transparent;
					border-bottom: 15px solid red;
					position: relative;

					span {
						color: #fff;
						font-weight: 600;
						position: relative;
						left: -4px;
						top: 4px;
						z-index: 1;
					}

					&:after {
						content: "";
						position: absolute;
						left: -10px;
						top: 15px;
						width: 0;
						height: 0;
						border: 10px solid transparent;
						border-top: 15px solid red;
					}
				}
			}
		}
	}

	.description {
		background: $white;
		height: 240px;
		overflow-y: auto;

		&.bottom {
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}
	}

	.higher-levels {
		background: $white;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.className {
		color: #fff;
		font-size: 1.1rem;
		text-transform: capitalize;
		font-family: modesto-expanded, serif;
		font-weight: 400;
	}
}

.white {
	color: $white;
}

::-webkit-scrollbar {
	width: 0px;
}

p {
	color: $black;
	font-size: 0.9rem;
	font-family: modesto-text, serif;
	font-weight: 300;
	line-height: 1;
}

::ng-deep {
	p {
		color: $black;
		font-size: 0.9rem;
		font-family: modesto-text, serif;
		font-weight: 300;
		line-height: 1;
	}
}
