<div [class]="'spell-card u-padding ' + cardColor">
  <div class="name u-text-center u-padding-smallest">
    <h1>{{spell.name}}</h1>
  </div>

  <div class="u-text-center">
    <p *ngIf="spell.level > 0" class="level white">{{spellLevel}}-level {{spell.school}}</p>
    <p *ngIf="spell.level === 0" class="level white">{{spell.school}} cantrip</p>
  </div>

  <div class="u-flex u-flex__wrap u-text-center details">
    <div>
      <p class="details-title">Casting Time</p>
      <p class="details-value"><span *ngIf="spell.castingTime.timeType !== 'Reaction'">{{spell.castingTime.amount}}
        </span>{{spell.castingTime.timeType}}</p>
    </div>

    <div>
      <p class="details-title">Range</p>
      <p class="details-value"><span *ngIf="spell.range.rangeType !== 'Self' && spell.range.rangeType !== 'Touch'">{{spell.range.amount}}
        </span>{{spell.range.rangeType}}</p>
    </div>

    <div>
      <p class="details-title">Components</p>
      <p class="details-value">
        <span *ngIf="spell.components.verbal">V<span *ngIf="spell.components.somatic || spell.components.material || spell.components.material === ''">,</span></span>
        <span *ngIf="spell.components.somatic">S<span *ngIf="spell.components.material || spell.components.material === ''">,</span></span>
        <span *ngIf="spell.components.material || spell.components.material === ''">M</span>
      </p>
    </div>

    <div [class.rel]="spell.duration.concentration">
      <p class="details-title">Duration</p>
      <p *ngIf="spell.duration.concentration">Up to {{spell.duration.length}} {{spell.duration.durationType}}</p>
      <p *ngIf="!spell.duration.concentration" class="details-value"><span *ngIf="spell.duration.durationType === 'round' || spell.duration.durationType === 'minute' || spell.duration.durationType === 'hour' || spell.duration.durationType === 'day' || spell.duration.durationType === 'year'">{{spell.duration.length}}
        </span>{{spell.duration.durationType}}</p>

      <div class="concentration" *ngIf="spell.duration.concentration">
        <div>
          <span>C</span>
        </div>
      </div>
    </div>
  </div>

  <div class="u-text-center">
    <p class="level white">&nbsp;</p>
  </div>

  <div class="description u-padding-x u-padding-y-half" [class.bottom]="!spell.atHigherLevels">
    <p *ngIf="spell.components.material || spell.components.material === ''">Material: {{spell.components.material}}</p>
    <div [class.u-margin-top]="spell.components.material || spell.components.material === ''" [innerHTML]="spell.description"></div>
  </div>

  <div class="u-text-center" *ngIf="spell.atHigherLevels || spell.atHigherLevels === ''">
    <p class="level white atHigherLevels">At Higher Levels</p>
  </div>

  <div class="higher-levels u-padding-x u-padding-y-half" *ngIf="spell.atHigherLevels || spell.atHigherLevels === ''">
    <p>{{spell.atHigherLevels}}</p>
  </div>

  <p class="className u-margin-top-half">{{getClassName(spell.classes[0])}}</p>
</div>