<form [formGroup]="loginForm" class="c-bg_img">

  <div class="container">
    <div class="jumbotron col-lg-6 col-sm-8 u-center">
      <div class="u-text-center u-margin-top-2x">
        <h3>Login</h3>
        <p>Login to access advanced features like saving encounters!</p>
        <small>Don't have an account? <a routerLink="/register"><em>Register for one now!</em></a></small>
      </div>

      <div class="u-margin-top-2x d-flex flex-wrap">

        <div class="col-12">
          <label for="email">
            <strong>Email</strong>:
          </label>
          <input formControlName="email" tabIndex="1" name="email" type="email" class="form-control" placeholder="username@example.com" />
          <validation-message [errors]="email.errors" [show]="!email.untouched"></validation-message>
        </div>

        <div class="col-12">
          <label for="pwd">
            <strong>Password</strong>:
          </label>
          <input formControlName="password" tabIndex="2" name="pwd" type="password" class="form-control" placeholder="******" />
          <validation-message [errors]="password.errors" [show]="!password.untouched" name="Your password"
            patternMessage="Your password must contain one special character."></validation-message>
        </div>

        <div class="col-12">
          <div class="u-flex">
            <p *ngIf="authError"><i class="fa fa-warning"></i> It seems your password was incorrect. Please try again.</p>
            <button type="button" [disabled]="!canSubmit" class="btn btn-primary float-right" (click)="submit()"><i
                class="fa fa-login"></i>
              Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>