<gm-processing-overlay [isActive]="processing"></gm-processing-overlay>

<div class="u-flex">
	<gm-key-command [model]="{key: 'ALT-BACKSPACE', icon: 'fas fa-arrow-left'}"></gm-key-command>
	<gm-key-command class="ml-1" [model]="{key: 'UP', icon: 'fas fa-arrow-up'}"></gm-key-command>
	<gm-key-command class="ml-1" [model]="{key: 'DOWN', icon: 'fas fa-arrow-down'}"></gm-key-command>
</div>

<h1>Campaigns</h1>
<p>
	All your data is organized into campaigns. All of your encounters, monsters, spells, and everything else are tied to
	specific campaigns. Deleting a campaign will also delete all related data (including spells, monsters, encounters,
	etc.). Campaigns can be copied, which will also copy all associated data.
</p>

<div class="u-flex u-flex__justify--flex-end">
	<div class="u-flex u-flex__column">
		<div class="u-margin-bottom-half">
			<gm-key-command [model]="{key: 'ALT-N'}"></gm-key-command>
		</div>

		<button mat-raised-button color="accent" (click)="edit(-1)" class="mb-2">
			<i class="fas fa-plus mr-2"></i> Add
		</button>
	</div>
</div>

<mat-accordion>
	<mat-expansion-panel *ngFor="let campaign of campaigns$ | async">
		<mat-expansion-panel-header>
			<mat-panel-title>{{ campaign?.name }}</mat-panel-title>
			<mat-panel-description>
				<em>{{ campaign?.ruleset.name }} ({{ campaign?.ruleset.publisher.name }})</em>
			</mat-panel-description>
		</mat-expansion-panel-header>

		<p *ngIf="campaign.description">{{ campaign?.description }}</p>

		<mat-action-row>
			<div class="u-flex u-flex__column mr-3">
				<div class="mb-1 u-text-center">
					<gm-key-command [model]="{key: 'ENTER'}"></gm-key-command>
				</div>
				<button title="Select" mat-mini-fab color="accent" (click)="select(campaign?.id)"><i class="fas fa-play"></i></button>
			</div>
			<div class="u-flex u-flex__column mr-3">
				<div class="mb-1 u-text-center">
					<gm-key-command [model]="{key: 'ALT+E'}"></gm-key-command>
				</div>
				<button title="Edit" mat-mini-fab color="primary" (click)="edit(campaign?.id)"><i class="fas fa-pencil"></i></button>
			</div>
			<div class="u-flex u-flex__column mr-3">
				<div class="mb-1 u-text-center">
					<gm-key-command [model]="{key: 'DEL'}"></gm-key-command>
				</div>
				<button title="Delete" mat-mini-fab color="warn" (click)="delete(campaign)"><i class="fas fa-trash"></i></button>
			</div>
		</mat-action-row>
	</mat-expansion-panel>
</mat-accordion>