<h1>Campaigns</h1>
<p>All your data is organized into campaigns. All of your encounters, monsters, spells, and everything else are tied to specific campaigns. Deleting a campaign will also delete all related data (including spells, monsters, encounters, etc.). Campaigns can be copied, which will also copy all associated data.</p>

<div class="u-flex u-flex__justify--flex-end">
  <button mat-raised-button color="accent" (click)="add()" class="mb-2"><i class="fas fa-plus mr-2"></i> Add</button>
</div>

<mat-accordion>
  <mat-expansion-panel *ngFor="let campaign of campaigns">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ campaign.name }}</mat-panel-title>
      <mat-panel-description>
        <em>{{ campaign.ruleset.name }} ({{ campaign.ruleset.publisher.name }})</em>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p *ngIf="campaign.description">{{ campaign.description }}</p>

    <mat-action-row>
      <button title="Edit" mat-mini-fab color="primary" (click)="edit(campaign.id)" class="mr-3"><i class="fas fa-pencil"></i></button>
      <!--button title="Copy" mat-mini-fab color="primary" (click)="copy(campaign.id)" class="mr-3"><i class="fas fa-copy"></i></button-->
      <button title="Delete" mat-mini-fab color="warn" (click)="delete(campaign.id)"><i class="fas fa-trash"></i></button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
