<span *ngIf="item.subItems">
  <button [matMenuTriggerFor]="menu" mat-button class="mat-link">
    <i *ngIf="item.icon" [class]="item.icon"></i>
    <span class="u-margin-left-quarter">{{item.label}}</span>
  </button>

  <mat-menu #menu>
    <button *ngFor="let subItem of item.subItems" mat-menu-item (click)="navigate(subItem.url)" class="mat-link">
      <i *ngIf="subItem.icon" [class]="subItem.icon"></i>
      <span class="u-margin-left-quarter">{{subItem.label}}</span>
    </button>
  </mat-menu>
</span>

<button *ngIf="!item.subItems" mat-button [routerLink]="item.url" [class.isBrand]="item.isBrand" class="mat-link">
  <strong *ngIf="item.isBrand; else btn">
    <ng-container *ngTemplateOutlet="btn; context: {$implicit: item}"></ng-container>
  </strong>

  <ng-template #btn>
    <i *ngIf="item.icon" [class]="item.icon"></i>
    <span class="u-margin-left-quarter">{{item.label}}</span>
  </ng-template>
</button>