<h1 mat-dialog-title>{{model.title}}</h1>
<div mat-dialog-content [innerHtml]="model.content"></div>
<div mat-dialog-actions>
	<ng-container *ngFor="let btn of model.buttons">
		<ng-container *ngTemplateOutlet="button; context: { $implicit: btn }"></ng-container>
	</ng-container>
	<ng-container *ngTemplateOutlet="button; context: { $implicit: model.closeButton, close: true }"></ng-container>
</div>

<ng-template #button let-button let-close="close">
	<div class="u-flex u-flex__column mr-3 u-text-center">
		<div class="mb-1">
			<gm-key-command [model]="button.keyCommand.model"></gm-key-command>
		</div>
		<button mat-mini-fab [mat-dialog-close]="close" [title]="button.titleText" [color]="button.color" (click)="button.keyCommand.subscription.callbackFn()"><i [class]="'fas fa-' + (button.icon ? button.icon : 'times-circle')"></i></button>
	</div>
</ng-template>