<mat-autocomplete #senseAC="matAutocomplete">
  <mat-option *ngFor="let type of senseTypes" [value]="type">
    {{type}}
  </mat-option>
</mat-autocomplete>
<mat-autocomplete #skillAC="matAutocomplete" (optionSelected)="skillChanged(true)">
  <mat-optgroup *ngFor="let group of skills" [label]="group.Ability">
    <mat-option *ngFor="let skill of group.Skills" [value]="skill.Name">
      {{skill.Name}}
    </mat-option>
  </mat-optgroup>
</mat-autocomplete>
<mat-autocomplete #dtAC="matAutocomplete">
  <mat-option *ngFor="let type of damageTypes" [value]="type">
    {{type}}
  </mat-option>
</mat-autocomplete>
<mat-autocomplete #conditionAC="matAutocomplete">
  <mat-option *ngFor="let c of conditions" [value]="c">
    {{c}}
  </mat-option>
</mat-autocomplete>
<mat-autocomplete #languageAC="matAutocomplete">
  <mat-option *ngFor="let l of languages" [value]="l">
    {{l}}
  </mat-option>
</mat-autocomplete>

<div class="u-flex u-flex__wrap">
  <form [formGroup]="formGroup" class="col-md-6">
    <input autocomplete="false" name="hidden" type="text" style="display:none;">
    <mat-accordion>

      <!--Saving Throws-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Saving Throws
          </mat-panel-title>

        </mat-expansion-panel-header>
        <div class="u-flex u-flex__justify--space-between u-margin-bottom">
          <mat-checkbox name='Strength' (change)="triggerFeaturesForm($event)">STR</mat-checkbox>
          <mat-checkbox name='Dexterity' (change)="triggerFeaturesForm($event)">DEX</mat-checkbox>
          <mat-checkbox name='Constitution' (change)="triggerFeaturesForm($event)">CON</mat-checkbox>
          <mat-checkbox name='Intelligence' (change)="triggerFeaturesForm($event)">INT</mat-checkbox>
          <mat-checkbox name='Wisdom' (change)="triggerFeaturesForm($event)">WIS</mat-checkbox>
          <mat-checkbox name='Charisma' (change)="triggerFeaturesForm($event)">CHA</mat-checkbox>
        </div>
      </mat-expansion-panel>

      <!--Skills-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Skills
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="u-margin-bottom-2x">
          <mat-chip-list>
            <mat-chip *ngFor="let s of monster.Features.Skills" (removed)="removeSkill(s.Name)">
              {{s.ModifyingAbility}} ({{s.Name}}) <i class="fa fa-times-circle" matChipRemove></i>
            </mat-chip>
          </mat-chip-list>
        </div>

        <div>
          <mat-form-field class="u-padding-x-none">
            <input [matAutocomplete]="skillAC" matInput placeholder="Skill" formControlName="skill_name" (input)="skillChanged(true)">
          </mat-form-field>

          <mat-form-field class="u-padding-x-none">
            <mat-select placeholder="Ability" (selectionChange)="skillChanged()" [(value)]="skillAbility">
              <mat-option *ngFor="let ability of ['Strength', 'Dexterity', 'Constitution', 'Intelligence', 'Wisdom', 'Charisma']"
                [value]="ability">
                {{ability}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-button matSuffix mat-icon-button (click)="addSkill()">
            <i class="fa fa-plus"></i>
          </button>
        </div>

        <div class="u-flex">
          <div>
            <mat-checkbox [checked]="dblSkillProf" name="Double Proficiency" labelPosition="before" (change)="triggerFeaturesForm($event)">Double
              Proficiency</mat-checkbox>
          </div>

        </div>
      </mat-expansion-panel>

      <!--Vulnerabilities, Resistances, Immunities-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Vulnerabilities, Resistances, & Immunities
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="u-flex u-flex__wrap">
          <div class="col-6 u-padding-x-none u-flex u-flex__column u-flex__justify--space-between">
            <label>Vulnerabilities</label>
            <div class="u-margin-bottom-2x" *ngIf="monster.Features.DamageVulnerabilities.length > 0">
              <mat-chip-list>
                <mat-chip *ngFor="let v of monster.Features.DamageVulnerabilities" (removed)="removeVulnerability(v)">
                  {{v}} <i class="fa fa-times-circle" matChipRemove></i>
                </mat-chip>
              </mat-chip-list>
            </div>

            <mat-form-field>
              <input [matAutocomplete]="dtAC" matInput placeholder="Vulnerability" formControlName="vulnerability">
              <button mat-button matSuffix mat-icon-button (click)="addVulnerability()">
                <i class="fa fa-plus"></i>
              </button>
            </mat-form-field>
          </div>

          <div class="col-6 u-padding-x-none u-flex u-flex__column u-flex__justify--space-between">
            <label>Resistances</label>
            <div class="u-margin-bottom-2x" *ngIf="monster.Features.DamageResistances.length > 0">
              <mat-chip-list>
                <mat-chip *ngFor="let r of monster.Features.DamageResistances" (removed)="removeResistance(r)">
                  {{r}} <i class="fa fa-times-circle" matChipRemove></i>
                </mat-chip>
              </mat-chip-list>
            </div>

            <mat-form-field>
              <input [matAutocomplete]="dtAC" matInput placeholder="Resistance" formControlName="resistance">
              <button mat-button matSuffix mat-icon-button (click)="addResistance()">
                <i class="fa fa-plus"></i>
              </button>
            </mat-form-field>
          </div>

          <div class="col-6 u-padding-x-none u-flex u-flex__column u-flex__justify--space-between">
            <label>Immunities</label>
            <div class="u-margin-bottom-2x" *ngIf="monster.Features.DamageImmunities.length > 0">
              <mat-chip-list>
                <mat-chip (removed)="removeImmunity(i)">
                  {{i}} <i class="fa fa-times-circle" matChipRemove></i>
                </mat-chip>
              </mat-chip-list>
            </div>

            <mat-form-field>
              <input [matAutocomplete]="dtAC" matInput placeholder="Immunity" formControlName="immunity">
              <button mat-button matSuffix mat-icon-button (click)="addImmunity()">
                <i class="fa fa-plus"></i>
              </button>
            </mat-form-field>
          </div>

          <div class="col-6 u-padding-x-none u-flex u-flex__column u-flex__justify--space-between">
            <label>Condition Immunities</label>
            <div class="u-margin-bottom-2x" *ngIf="monster.Features.ConditionImmunities.length > 0">
              <mat-chip-list>
                <mat-chip *ngFor="let c of monster.Features.ConditionImmunities" (removed)="removeCondition(c)">
                  {{c}} <i class="fa fa-times-circle" matChipRemove></i>
                </mat-chip>
              </mat-chip-list>
            </div>

            <mat-form-field>
              <input [matAutocomplete]="conditionAC" matInput placeholder="Immunity" formControlName="conditionImmunity">
              <button mat-button matSuffix mat-icon-button (click)="addCondition()">
                <i class="fa fa-plus"></i>
              </button>
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>

      <!--Senses-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Senses
          </mat-panel-title>

        </mat-expansion-panel-header>

        <div class="u-margin-bottom-2x">
          <mat-chip-list>
            <mat-chip>passive perception {{getPP()}}</mat-chip>
            <mat-chip *ngFor="let m of monster.Features.ExtraSenses" (removed)="removeSense(m.Type)">{{m.Type}}
              {{m.Distance}} ft. &nbsp; <i class="fa fa-times-circle" matChipRemove></i></mat-chip>
          </mat-chip-list>
        </div>

        <div>
          <label>Extra Senses</label>
          <div>
            <mat-form-field class="u-padding-x-none">
              <input [matAutocomplete]="senseAC" matInput placeholder="Type" formControlName="sense_type">
            </mat-form-field>

            <mat-form-field class="u-padding-x-none">
              <input matInput placeholder="Distance" formControlName="sense_distance" type="number">
              <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="addSense()">
                <i class="fa fa-plus"></i>
              </button>
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>

      <!--Extra Features-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Extra Features
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="u-margin-bottom-2x">
          <mat-chip-list>
            <mat-chip *ngFor="let f of monster.Features.ExtraFeatures" (click)="showFeature(f)" (removed)="removeFeature(f.Name)">
              {{f.Name}} <i class="fa fa-times-circle" matChipRemove></i></mat-chip>
          </mat-chip-list>
        </div>

        <div>
          <mat-form-field class="col-12">
            <input matInput placeholder="Name" formControlName="ef_name">
          </mat-form-field>

          <mat-form-field class="col-12">
            <input matInput placeholder="Description" formControlName="ef_desc">
          </mat-form-field>

          <div class="col-12 u-flex u-flex__justify--flex-end">
            <button mat-button matSuffix mat-icon-button class="pull-right" (click)="addFeature()">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </mat-expansion-panel>

      <!--Languages-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Languages
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="u-margin-bottom-2x">
          <mat-chip-list>
            <mat-chip *ngFor="let l of monster.Features.Languages.Languages" (removed)="removeLanguage(l)">
              {{l}} <i class="fa fa-times-circle" matChipRemove></i>
            </mat-chip>
          </mat-chip-list>
        </div>

        <div>
          <mat-form-field>
            <input [matAutocomplete]="languageAC" matInput placeholder="Language" formControlName="language">
          </mat-form-field>

          <button mat-button matSuffix mat-icon-button (click)="addLanguage()">
            <i class="fa fa-plus"></i>
          </button>
        </div>

        <div>
          <mat-checkbox [checked]="canSpeak" name="Can Speak" labelPosition="before" (change)="triggerFeaturesForm($event)">Can
            Speak</mat-checkbox>
        </div>

        <div *ngIf="monster.Features.Languages.Languages.length > 0">
          <mat-checkbox [checked]="monster.Features.Languages.Telepathy > 0" (change)="triggerFeaturesForm($event)"
            name="Has Telepathy" labelPosition="before">Has Telepathy</mat-checkbox>
          <mat-form-field *ngIf="hasTelepathy">
            <input formControlName="telepathy" matInput type="number" placeholder="Distance" [(ngModel)]="monster.Features.Languages.Telepathy">
            <span matSuffix>ft.</span>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>

  <gm-monster-card class="col-md-6" [monster]="monster"></gm-monster-card>
</div>