<!--TODO: Set checked property of all checkboxes-->
<h2>Describe Your Monster</h2>

<mat-horizontal-stepper #stepper>
  <mat-step [completed]="form1Complete">
    <ng-template matStepLabel>Basic info</ng-template>

    <gm-basic-info-form [(monster)]="monster" [(complete)]="form1Complete"></gm-basic-info-form>

    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [completed]="form2Complete">
    <ng-template matStepLabel>Stats</ng-template>

    <gm-stats-form [(monster)]="monster" [(complete)]="form2Complete"></gm-stats-form>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [completed]="form3Complete">
    <ng-template matStepLabel>Features</ng-template>

    <gm-features-form [(monster)]="monster" [(complete)]="form3Complete"></gm-features-form>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [completed]="form4Complete">
    <ng-template matStepLabel>Traits</ng-template>

    <gm-traits-form [(monster)]="monster" [(complete)]="form4Complete"></gm-traits-form>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>