<div class="u-flex u-flex__wrap">
  <div class="col-md-6">
    <h2>Describe Your Monster</h2>
    <mat-autocomplete #sizeAC="matAutocomplete">
      <mat-option *ngFor="let size of sizes" [value]="size.Name">
        <p>{{ size.Name }}: {{size.Space}} by {{size.Space}} ft.</p>
      </mat-option>
    </mat-autocomplete>
    <mat-autocomplete #typeAC="matAutocomplete">
      <mat-option *ngFor="let type of types" [value]="type.Name">
        {{type.Name}}
      </mat-option>
    </mat-autocomplete>
    <mat-autocomplete #movementAC="matAutocomplete">
      <mat-option *ngFor="let type of movementTypes" [value]="type">
        {{type}}
      </mat-option>
    </mat-autocomplete>
    <mat-autocomplete #senseAC="matAutocomplete">
      <mat-option *ngFor="let type of senseTypes" [value]="type">
        {{type}}
      </mat-option>
    </mat-autocomplete>
    <mat-autocomplete #skillAC="matAutocomplete">
      <mat-optgroup *ngFor="let group of skills" [label]="group.Ability">
        <mat-option *ngFor="let skill of group.Skills" [value]="skill.Name">
          {{skill.Name}}
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>

    <mat-horizontal-stepper #stepper>
      <mat-step [stepControl]="basicInfoFormGroup">
        <ng-template matStepLabel>Basic info</ng-template>

        <form [formGroup]="basicInfoFormGroup" class="u-flex u-flex__wrap">
          <mat-form-field class="col-12">
            <input matInput placeholder="Name" [(ngModel)]="monster.BasicInfo.Name" formControlName="name">
          </mat-form-field>

          <mat-form-field class="col-12">
            <input matInput placeholder="Size" [(ngModel)]="monster.BasicInfo.Size" formControlName="size"
              [matAutocomplete]="sizeAC">
          </mat-form-field>

          <mat-form-field class="col-6">
            <input matInput placeholder="Type" [(ngModel)]="monster.BasicInfo.Type" formControlName="type"
              [matAutocomplete]="typeAC">
          </mat-form-field>

          <div class="col-6 inline-block">
            <p *ngIf="selectedType && selectedType.Description"><strong>{{selectedType.Name}} </strong>
              {{selectedType.Description}}</p>
          </div>

          <div class="col-6 row">
            <mat-form-field>
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let tag of monster.BasicInfo.Tags" (removed)="removeTag(tag)">
                  {{tag}}
                  <i class="fa fa-times-circle" matChipRemove></i>
                </mat-chip>
                <input placeholder="New Tag" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addTag($event)">
              </mat-chip-list>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Proficiency Bonus" [(ngModel)]="monster.BasicInfo.ProficiencyModifier"
                formControlName="prof" type="number">
            </mat-form-field>
          </div>

          <div class="col-6">
            <label class="custom">Alignment</label>
            <gm-alignment-table [alignment]="monster.BasicInfo.Alignment" [changeCallback]="alignmentChanged"></gm-alignment-table>
          </div>
        </form>

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="statsFormGroup">
        <ng-template matStepLabel>Stats</ng-template>

        <form [formGroup]="statsFormGroup">
          <mat-accordion>
            <!--Attributes-->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Attributes
                </mat-panel-title>

              </mat-expansion-panel-header>

              <div class="col-12 row">
                <button matTooltip="Roll 4d6, drop the lowest for each attribute" matTooltipPosition="right"
                  matTooltipHideDelay="2000" mat-button (click)="randomStats()"><i class="fa fa-dice"></i> Random Roll</button>
              </div>

              <div class="u-flex u-margin-bottom">
                <mat-form-field class="col-2">
                  <input matInput placeholder="STR" [(ngModel)]="monster.Stats.Strength" formControlName="str" type="number">
                </mat-form-field>
                <mat-form-field class="col-2">
                  <input matInput placeholder="DEX" [(ngModel)]="monster.Stats.Dexterity" formControlName="dex" type="number">
                </mat-form-field>
                <mat-form-field class="col-2">
                  <input matInput placeholder="CON" [(ngModel)]="monster.Stats.Constitution" formControlName="con" type="number">
                </mat-form-field>
                <mat-form-field class="col-2">
                  <input matInput placeholder="INT" [(ngModel)]="monster.Stats.Intelligence" formControlName="int" type="number">
                </mat-form-field>
                <mat-form-field class="col-2">
                  <input matInput placeholder="WIS" [(ngModel)]="monster.Stats.Wisdom" formControlName="wis" type="number">
                </mat-form-field>
                <mat-form-field class="col-2">
                  <input matInput placeholder="CHA" [(ngModel)]="monster.Stats.Charisma" formControlName="cha" type="number">
                </mat-form-field>
              </div>
            </mat-expansion-panel>

            <!--AC-->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Armor Class
                </mat-panel-title>

              </mat-expansion-panel-header>
              <div class="col-12 ac u-margin-bottom">
                <p class="u-margin-bottom"><i>AC = Base + Ability Modifier + Miscellanious</i></p>
                <div class="u-flex">
                  <div>
                    <p>{{monster.Stats.AC.Score}}</p>
                  </div>

                  <div>
                    <p class="u-padding-x-half">=</p>
                  </div>

                  <mat-form-field class="col-2">
                    <input matInput placeholder="Base" [(ngModel)]="monster.Stats.AC.Base" formControlName="ac_base"
                      type="number">
                  </mat-form-field>

                  <div>
                    <p class="u-padding-x-half">+</p>
                  </div>

                  <div class='col-3 ac-ability u-flex u-flex__column u-text-center'>
                    <mat-form-field>
                      <input matInput [placeholder]="monster.Stats.AC.AbilityModifier" [(ngModel)]="abilityMod"
                        formControlName="ac_ability" type="number">
                    </mat-form-field>

                    <mat-form-field>
                      <mat-select placeholder="Ability" [(value)]="monster.Stats.AC.AbilityModifier" (selectionChange)="statFormChange()">
                        <mat-option *ngFor="let ability of abilities" [value]="ability">
                          {{ability}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div>
                    <p class="u-padding-x-half">+</p>
                  </div>

                  <mat-form-field class="col-2">
                    <input matInput placeholder="Misc" [(ngModel)]="monster.Stats.AC.MiscModifier" formControlName="ac_misc"
                      type="number">
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>

            <!--HP-->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Hit Points
                </mat-panel-title>

              </mat-expansion-panel-header>
              <div class="col-12 ac u-margin-bottom">
                <p class="u-margin-bottom"><i>Average (<small>[Number of Hit Dice]</small>d<small>[Hit Dice Type]</small>)</i></p>

                <div class="u-flex">
                  <div>
                    <p>{{monster.Stats.HPAverage}}</p>
                  </div>

                  <div>
                    <p class="u-padding-x-half">(</p>
                  </div>

                  <mat-form-field class="col-2">
                    <input matInput placeholder="#" [(ngModel)]="monster.Stats.HPRoll.Count" formControlName="hp_count"
                      type="number">
                  </mat-form-field>

                  <div>
                    <p class="u-padding-x-half">d</p>
                  </div>

                  <mat-form-field class="col-2">
                    <mat-select placeholder="Sides" [(value)]="monster.Stats.HPRoll.Sides" (selectionChange)="statFormChange()">
                      <mat-option *ngFor="let number of [4,6,8,10,12,20]" [value]="number">
                        {{number}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <div>
                    <p class="u-padding-x-half">)</p>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>

            <!--Movement-->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Movement
                </mat-panel-title>

              </mat-expansion-panel-header>

              <div class="u-margin-bottom-2x">
                <mat-chip-list>
                  <mat-chip>Land {{monster.Stats.Speed}} ft.</mat-chip>
                  <mat-chip *ngFor="let m of monster.Stats.ExtraMovementTypes" (removed)="removeMovement(m.Type)">{{m.Type}}
                    {{m.Distance}} ft. &nbsp; <i class="fa fa-times-circle" matChipRemove></i></mat-chip>
                </mat-chip-list>
              </div>

              <div>
                <div><label>Basic Movement</label></div>
                <mat-form-field>
                  <input matInput placeholder="Land Speed" [(ngModel)]="monster.Stats.Speed" formControlName="speed">
                </mat-form-field>
              </div>

              <div>
                <label>Extra Movement Types</label>
                <div>
                  <mat-form-field class="u-padding-x-none">
                    <input [matAutocomplete]="movementAC" matInput placeholder="Type" formControlName="speed_type">
                  </mat-form-field>

                  <mat-form-field class="u-padding-x-none">
                    <input matInput placeholder="Distance" formControlName="speed_length" type="number">
                    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="addMovement()">
                      <i class="fa fa-plus"></i>
                    </button>
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </form>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="featuresFormGroup">
        <ng-template matStepLabel>Features</ng-template>

        <form [formGroup]="featuresFormGroup">
          <mat-accordion>

            <!--Saving Throws-->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Saving Throws
                </mat-panel-title>

              </mat-expansion-panel-header>

              <div class="u-flex u-flex__justify--space-between u-margin-bottom">
                <mat-checkbox name='Strength' (change)="triggerFeaturesForm($event)">STR</mat-checkbox>
                <mat-checkbox name='Dexterity' (change)="triggerFeaturesForm($event)">DEX</mat-checkbox>
                <mat-checkbox name='Constitution' (change)="triggerFeaturesForm($event)">CON</mat-checkbox>
                <mat-checkbox name='Intelligence' (change)="triggerFeaturesForm($event)">INT</mat-checkbox>
                <mat-checkbox name='Wisdom' (change)="triggerFeaturesForm($event)">WIS</mat-checkbox>
                <mat-checkbox name='Charisma' (change)="triggerFeaturesForm($event)">CHA</mat-checkbox>
              </div>
            </mat-expansion-panel>

            <!--Skills-->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Skills
                </mat-panel-title>

              </mat-expansion-panel-header>

              <mat-form-field class="u-padding-x-none">
                <input [matAutocomplete]="skillAC" matInput placeholder="Skill" formControlName="skill_name">
              </mat-form-field>

              <mat-form-field class="u-padding-x-none">
                <mat-select placeholder="Ability" (selectionChange)="featuresFormChange()">
                  <mat-option *ngFor="let ability of abilities" [value]="ability">
                    {{ability}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div class="inline-block">
                <label>Proficiency</label>
                <mat-checkbox></mat-checkbox>
                <mat-checkbox></mat-checkbox>
              </div>
              <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="addSense()">
                <i class="fa fa-plus"></i>
              </button>
            </mat-expansion-panel>

            <!--Senses-->
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Senses
                </mat-panel-title>

              </mat-expansion-panel-header>

              <div class="u-margin-bottom-2x">
                <mat-chip-list>
                  <mat-chip>passive perception {{getPP()}}</mat-chip>
                  <mat-chip *ngFor="let m of monster.Features.ExtraSenses" (removed)="removeSense(m.Type)">{{m.Type}}
                    {{m.Distance}} ft. &nbsp; <i class="fa fa-times-circle" matChipRemove></i></mat-chip>
                </mat-chip-list>
              </div>

              <div>
                <label>Extra Senses</label>
                <div>
                  <mat-form-field class="u-padding-x-none">
                    <input [matAutocomplete]="senseAC" matInput placeholder="Type" formControlName="sense_type">
                  </mat-form-field>

                  <mat-form-field class="u-padding-x-none">
                    <input matInput placeholder="Distance" formControlName="sense_distance" type="number">
                    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="addSense()">
                      <i class="fa fa-plus"></i>
                    </button>
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </form>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>

  <div class="col-md-6">
    <gm-monster-card [monster]="monster"></gm-monster-card>
  </div>
</div>