label.custom {
	color: rgba(255, 255, 255, 0.7);
}

.inline-block {
	display: inline-block;
}

.mat-icon,
.mat-step-icon {
	display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.ac {
	> div {
		> div:not(.u-flex) {
			margin-top: 22px;
		}

		div.u-flex {
			background-color: #3d3d3d;
			border: 1px solid #4f4f4f;
		}
	}

	.ac-ability {
		min-width: 111px;
	}
}

.mat-form-field-label,
.mat-form-field-label-wrapper {
	overflow: visible !important;
}

p.c-monster_form--ability-modifier {
	margin: 1.25em 0;
}
