<!-- <div class="navbar navbar-expand-lg navbar-dark bg-primary" (clickOutside)="closeMenu()">
  <a class="navbar-brand" routerLink="" (click)="closeMenu()">
    <i class="fa fa-dice"></i> High Roller
  </a>
  <button class="navbar-toggler" type="button" (click)="toggleMenu()">
    <i class="fa fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" [class.show]="showMenu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="" [routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">
          <i class="fa fa-home"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/CRCalculator" (click)="closeMenu()">
          <i class="fa fa-calculator"></i> CR Calculator
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/encounters" (click)="closeMenu()">
          <i class="fa fa-pastafarianism"></i> Encounters
        </a>
      </li>
    </ul>

    <div>
      <div *isLoggedIn class="u-flex">
        <p class="text-white"><i class="fa fa-flag"></i> Welcome, {{user}}!</p>

        <button class="u-margin-x btn btn-danger" type="button" (click)="authService.logout()"><i class="fa fa-sign-out"></i>
          Logout</button>
      </div>
      <a *isLoggedOut routerLink="/login" class="text-white"><i class="fa fa-sign-in"></i> Login</a>
    </div>
  </div>
</div> -->

<mat-toolbar>
  <nav *ngIf="isDesktop; else isMobile" class="u-flex w-100">
    <button *ngFor="let item of items" mat-button [routerLink]="item.url" [class.isBrand]="item.isBrand" class="mat-link">
      <strong *ngIf=" item.isBrand; else
      btn">
        <ng-container *ngTemplateOutlet="btn; context: {$implicit: item}"></ng-container>
      </strong>

      <ng-template #btn>
        <i *ngIf="item.icon" [class]="item.icon"></i>
        {{item.label}}
      </ng-template>
    </button>

    <div *isLoggedIn class="u-flex c-nav__logged-in">
      <p class="text-white"><i class="fa fa-user-circle"></i> Welcome, {{user}}!</p>

      <button class="u-margin-x btn btn-danger" type="button" (click)="authService.logout()"><i class="fa fa-sign-out"></i>
        Logout</button>
    </div>
    <a *isLoggedOut routerLink="/login" class="text-white"><i class="fa fa-sign-in"></i> Login</a>
  </nav>

  <ng-template #isMobile>
    <nav class="u-flex w-100">
      <mat-menu #appMenu="matMenu">
        <button *ngFor="let item of items" mat-menu-item [routerLink]="item.url" [class.isBrand]="item.isBrand">
          <strong *ngIf=" item.isBrand; else
              btn">
            <ng-container *ngTemplateOutlet="btn; context: {$implicit: item}"></ng-container>
          </strong>

          <ng-template #btn>
            <i *ngIf="item.icon" [class]="item.icon"></i>
            {{item.label}}
          </ng-template>
        </button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="appMenu">
        <i class="fa fa-2x fa-bars"></i>
      </button>

      <div *isLoggedIn class="u-flex c-nav__logged-in">
        <button mat-button class="u-padding-x-half"><i class="fa fa-2x fa-user-circle"></i></button>
        <button mat-button (click)="authService.logout()" class="u-padding-x-half"><i class="fa fa-2x fa-sign-out"></i></button>
      </div>
      <a *isLoggedOut routerLink="/login" class="text-white"><i class="fa fa-sign-in"></i></a>
    </nav>
  </ng-template>
</mat-toolbar>