<mat-toolbar>
  <nav *ngIf="isDesktop; else isMobile" class="u-flex w-100">
    <button *ngFor="let item of items" mat-button [routerLink]="item.url" [class.isBrand]="item.isBrand" class="mat-link">
      <strong *ngIf=" item.isBrand; else
      btn">
        <ng-container *ngTemplateOutlet="btn; context: {$implicit: item}"></ng-container>
      </strong>

      <ng-template #btn>
        <i *ngIf="item.icon" [class]="item.icon"></i>
        <span class="u-margin-left-quarter">{{item.label}}</span>
      </ng-template>
    </button>

    <div *isLoggedIn class="u-flex c-nav__logged-in">
      <p class="text-white"><i class="fa fa-user-circle"></i> Welcome, {{user}}!</p>

      <button class="u-margin-x btn btn-danger" type="button" (click)="authService.logout()"><i class="fa fa-sign-out"></i>
        Logout</button>
    </div>
    <a *isLoggedOut routerLink="/login" class="text-white"><i class="fa fa-sign-in"></i> Login</a>
  </nav>

  <ng-template #isMobile>
    <nav class="u-flex w-100">
      <mat-menu #appMenu="matMenu">
        <button *ngFor="let item of items" mat-menu-item [routerLink]="item.url" [class.isBrand]="item.isBrand">
          <strong *ngIf=" item.isBrand; else
              btn">
            <ng-container *ngTemplateOutlet="btn; context: {$implicit: item}"></ng-container>
          </strong>

          <ng-template #btn>
            <i *ngIf="item.icon" [class]="item.icon"></i>
            <span class="u-margin-left-quarter">{{item.label}}</span>
          </ng-template>
        </button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="appMenu">
        <i class="fa fa-2x fa-bars"></i>
      </button>

      <div *isLoggedIn class="u-flex c-nav__logged-in">
        <button mat-button class="u-padding-x-half"><i class="fa fa-2x fa-user-circle"></i></button>
        <button mat-button (click)="authService.logout()" class="u-padding-x-half"><i class="fa fa-2x fa-sign-out"></i></button>
      </div>
      <a *isLoggedOut routerLink="/login" class="text-white"><i class="fa fa-sign-in"></i></a>
    </nav>
  </ng-template>
</mat-toolbar>