<div class="navbar navbar-expand-lg navbar-dark bg-primary" (clickOutside)="closeMenu()">
  <a class="navbar-brand" routerLink="" (click)="closeMenu()">
    <i class="fa fa-dice"></i> High Roller
  </a>
  <button class="navbar-toggler" type="button" (click)="toggleMenu()">
    <i class="fa fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" [class.show]="showMenu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="" [routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">
          <i class="fa fa-home"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/CRCalculator" (click)="closeMenu()">
          <i class="fa fa-calculator"></i> CR Calculator
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/test" (click)="closeMenu()">
          <i class="fa fa-list"></i> Test Auth
        </a>
      </li>
    </ul>

    <div>
      <div *isLoggedIn>
        <p class="text-white"><i class="fa fa-flag"></i> Welcome, {{user}}!</p>

        <button class="u-margin-x btn btn-danger" type="button" (click)="authService.logout()"><i class="fa fa-sign-out"></i>
          Logout</button>
      </div>
      <a *isLoggedOut routerLink="/login" class="text-white"><i class="fa fa-sign-in"></i> Login</a>
    </div>
  </div>
</div>