<h2>
  <span *ngIf="isNew">Create A</span>
  <span *ngIf="!isNew">Edit Your</span>
  Spell
</h2>

<main class="mat-elevation-z8 u-margin-all-2x">

  <div class="u-flex">
    <form [formGroup]="formGroup" class="flex-grow-1 u-flex u-flex__wrap">
      <input autocomplete="false" name="hidden" type="text" style="display:none;">

      <mat-form-field class="col-6">
        <input matInput placeholder="Spell Name" [(ngModel)]="spell.Name" formControlName="spellName">
      </mat-form-field>

      <mat-form-field class="col-12">
        <mat-chip-list #classList>
          <mat-chip *ngFor="let pc of selectedClasses" (removed)="remove(pc)">
            {{pc}}
            <i matChipRemove class="fas fa-times-circle"></i>
          </mat-chip>
          <input placeholder="Add a Class" #classInput [formControl]="spellClassesInput" [matAutocomplete]="spellsAC"
            [matChipInputFor]="classList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addSpell($event)">
        </mat-chip-list>
        <mat-autocomplete #spellsAC="matAutocomplete" (optionSelected)="spellSelected($event)">
          <mat-option *ngFor="let pc of filteredClasses | async" [value]="pc">
            {{pc}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <gm-spell-card #card [spell]="spell"></gm-spell-card>
  </div>
</main>