<gm-processing-overlay [isActive]="processing"></gm-processing-overlay>

<form [connect]="['app', 'forms', 'campaignForm']">
  <h1>{{ (campaign$ | async)?.name }}</h1>

  <mat-card class="mt-3">
    <mat-card-header>
      {{ isNew ? 'Add a new' : 'Edit Your' }} Campaign
    </mat-card-header>

    <mat-card-content class="u-flex">
      <mat-form-field class="col-6">
        <input matInput placeholder="Name" name="name" ngControl ngModel>
      </mat-form-field>

      <mat-form-field class="col-6">
        <mat-label>Ruleset</mat-label>
        <mat-select [(value)]="rulesetId" (selectionChange)="rulesetChanged()">
          <mat-option *ngFor="let ruleset of rulesets$ | async" [value]="ruleset.id">{{ ruleset.name }}
            ({{ ruleset.publisher.name }})</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-12">
        <textarea rows="5" matInput placeholder="Description" name="description" ngControl ngModel></textarea>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions class="u-flex u-flex__justify--flex-end">
      <button title="Save" mat-mini-fab color="primary" (click)="save()" class="mr-3"><i
          class="fas fa-save"></i></button>
    </mat-card-actions>
  </mat-card>
</form>