<div class="c-bg_img">
  <div class="container">
    <div class="jumbotron u-text-center">
      <div>
        <h3>Error 404: Perception vs Stealth</h3>
      </div>
      <p>
        It seems you've failed your perception check. This page's stealth is just too high. Try going back to the <a
          routerLink="/">home page</a> and try again!
      </p>
    </div>
  </div>
  <div class="c-bg_artist-credits">
    <a href="http://noirlac.tumblr.com/" target="_blank" rel="noopener noreferrer">
      Image by Noirlac
    </a>
  </div>
</div>;