<gm-processing-overlay [isActive]="processing"></gm-processing-overlay>
<h1>Monsters</h1>
<p>Here, you can create and manage monsters for use in encounters in your campaign.</p>

<div class="u-flex u-flex__justify--flex-end">
  <button mat-raised-button color="accent" (click)="edit(-1)" class="mb-2"><i class="fas fa-plus mr-2"></i> Add</button>
</div>

<mat-accordion>
  <mat-expansion-panel *ngFor="let monster of monsters">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ monster.name }}</mat-panel-title>
    </mat-expansion-panel-header>

    <p>{{ monster.description }}</p>

    <mat-action-row>
      <button title="Edit" mat-mini-fab color="primary" (click)="edit(monster.id)" class="mr-3"><i class="fas fa-pencil"></i></button>
      <button title="Copy" mat-mini-fab color="primary" (click)="clone(monster)" class="mr-3"><i class="fas fa-copy"></i></button>
      <button title="Delete" mat-mini-fab color="warn" (click)="delete(monster)"><i class="fas fa-trash"></i></button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

