/* You can add global styles to this file, and also import other style files */
@import "~bootswatch/dist/cyborg/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cyborg/bootswatch";
@import "./styles/_settings.font-sizes.scss";
@import "./styles/_tools.alignment.scss";
@import "./styles/_tools.flexbox.scss";
@import "./styles/_tools.functions.scss";
@import "./styles/_tools.responsive.scss";
@import "./styles/_settings.config.scss";
@import "./styles/_trumps.align.scss";
@import "./styles/_trumps.flex.scss";
@import "./styles/_trumps.margin.scss";
@import "./styles/_trumps.padding.scss";
@import "./styles/_trumps.text-align.scss";
@import url("https://use.typekit.net/qug3eze.css");
@import "~@angular/material/prebuilt-themes/purple-green.css";

$font: "Futura PT", Helvetica, sans-serif;
p {
	font-family: $font;
	font-size: 16px;
	margin: 0;
}

h3 {
	font-family: $font;
	font-weight: 600;
}

small {
	font-size: rem(14px);
}

em {
	font-family: "Futura PT Condensed", "Futura PT", Helvetica, sans-serif;
}

.c-bg_img {
	background-size: cover;
	background-image: url("/assets/img/bg.png");
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	.c-bg_artist-credits {
		position: absolute;
		right: 0;
		bottom: 0;
		background-color: rgba(25, 25, 25, 0.5);

		a {
			color: #fff;
		}
	}
}

input.ng-invalid.ng-touched {
	border: 2px solid #cc0000;
}

body {
	background: #303030;
}

.container {
	margin-top: 55px;
}

mat-form-field {
	padding: 0.5rem 1rem;
}
