<div class="c-bg_img">
	<div class="container">
		<div class="jumbotron u-text-center">
			<div>
				<h3>Dungeons & Dragons DM Tools</h3>
			</div>
			<p>
				<em>Bringing automation to a bunch of boring tasks and tables.</em>
			</p>

			<p class="mt-5"><em>Update: November 2, 2019</em></p>
			<p>Added spells and <a [routerLink]="'/campaigns'">campaigns</a>! You can now create campaigns and add spells to them. Soon to come: monsters (with spells)! Then encounters and an encounter manager after that!</p>

			<p class="u-margin-top">
				<small>5th Edition</small>
			</p>
		</div>
	</div>
	<div class="c-bg_artist-credits">
		<a href="http://noirlac.tumblr.com/" target="_blank" rel="noopener noreferrer">
			Image by Noirlac
		</a>
	</div>
</div>;