<div class="c-bg_img">
  <div class="container u-padding-top-3x">
    <div class="jumbotron u-text-center">
      <div>
        <h3>Dungeons & Dragons DM Tools</h3>
      </div>
      <p>
        <em>Bringing automation to a bunch of boring tasks and tables.</em>
      </p>
      <p class="u-margin-top-3x">
        Currently, there's a basic
        <a href="/CRCalculator">
          <i class="fa fa-calculator"></i> CR Calculator here
        </a>
        , but there's more to come. <strong>Enjoy!</strong>
      </p>
      <p class="u-margin-top">
        <small>5th Edition</small>
      </p>
    </div>
  </div>
  <div class="c-bg_artist-credits">
    <a href="http://noirlac.tumblr.com/" target="_blank" rel="noopener noreferrer">
      Image by Noirlac
    </a>
  </div>
</div>;