<div class="monster-card col-lg-6 u-center u-padding-x-none">
  <div class="scroll"></div>

  <div class="content u-padding-all-half">
    <h1>{{monster.BasicInfo.Name}}</h1>
    <em class="subtitle"><span>{{monster.BasicInfo.Size}}</span> {{monster.BasicInfo.Type}}<span *ngIf="monster.BasicInfo.Tags && monster.BasicInfo.Tags.length > 0">
        (<span><span class="comma-list-item" *ngFor="let tag of monster.BasicInfo.Tags">{{tag}}<span class="comma">,
            </span></span></span>)</span><span *ngIf="monster.Alignment && ((monster.BasicInfo.Tags && monster.BasicInfo.Tags.length > 0) || monster.BasicInfo.Type || monster.BasicInfo.Size)">,</span>
      {{alignmentString}}</em>

    <!--Basic Stats-->
    <div class="divider-thick"></div>

    <div class="info-list">
      <p><strong>Armor Class</strong> {{monster.Stats.AC.Score}} <span *ngIf="monster.Stats.ArmorType">({{monster.Stats.ArmorType}})</span></p>
      <p><strong>Hit Points</strong> {{monster.Stats.HPAverage}} ({{monster.Stats.HPRoll}})</p>
      <p><strong>Speed</strong> {{monster.Stats.Speed}} ft.<span *ngIf="monster.Stats.ExtraMovementTypes.length > 0">,</span>
        <span class="comma-list-item" *ngFor="let movement of monster.Stats.ExtraMovementTypes"> {{movement.Type}}
          {{movement.Distance}} ft.<span class="comma">,</span></span></p>
    </div>

    <!--Attributes-->
    <div class="divider-thick"></div>

    <div class="stats u-flex u-flex__justify--space-around u-text-center">
      <div>
        <h2>str</h2>
        <h2 class="sub">{{monster.Stats.Strength}} ({{strMod}})</h2>
      </div>

      <div>
        <h2>dex</h2>
        <h2 class="sub">{{monster.Stats.Dexterity}} ({{dexMod}})</h2>
      </div>

      <div>
        <h2>con</h2>
        <h2 class="sub">{{monster.Stats.Constitution}} ({{conMod}})</h2>
      </div>

      <div>
        <h2>int</h2>
        <h2 class="sub">{{monster.Stats.Intelligence}} ({{intMod}})</h2>
      </div>

      <div>
        <h2>wis</h2>
        <h2 class="sub">{{monster.Stats.Wisdom}} ({{wisMod}})</h2>
      </div>

      <div>
        <h2>cha</h2>
        <h2 class="sub">{{monster.Stats.Charisma}} ({{chaMod}})</h2>
      </div>
    </div>

    <!--Skills-->
    <div class="divider-thick"></div>

    <div class="info-list">
      <p *ngFor="let skill of monster.ExtraInfo.Skills"><strong>{{skill.Name}} </strong> <span [innerHTML]="skill.Description"></span></p>
      <p><strong>Senses</strong> {{monster.ExtraInfo.Senses}}</p>
      <p><strong>Challenge</strong> {{cr}} ({{xp}} XP)</p>
    </div>

    <ng-container *ngTemplateOutlet="section; context: { list: monster.Features}"></ng-container>
    <ng-container *ngTemplateOutlet="section; context: { list: monster.Actions, title: 'Actions'}"></ng-container>
    <ng-container *ngTemplateOutlet="section; context: { list: monster.LegendaryActions, title: 'Legendary Actions', desc: monster.LegendaryActionsDescription}"></ng-container>
  </div>
  <div class="scroll">

  </div>

  <ng-template #section let-list="list" let-title="title" let-desc="LegendaryActionsDescription">
    <div *ngIf="list && list.length > 0">

      <div *ngIf="title; else bar">
        <h3>{{title}}</h3>
        <hr />
      </div>

      <ng-template #bar>
        <div class="divider-thick"></div>
      </ng-template>

      <p *ngIf="desc">{{desc}}</p>

      <div class="info-list actions">
        <p *ngFor="let item of list"><strong>{{item.Name}}. </strong> <span [innerHTML]="item.Description"></span></p>
      </div>
    </div>
  </ng-template>
</div>