<div class="monster-card col-lg-6 u-center u-padding-x-none">
  <div class="scroll"></div>

  <div class="content u-padding-all-half">
    <h1>{{monster.BasicInfo.Name}}</h1>
    <em class="subtitle"><span>{{monster.BasicInfo.Size}}</span> {{monster.BasicInfo.Type}}<span *ngIf="monster.BasicInfo.Tags && monster.BasicInfo.Tags.length > 0">
        (<span><span class="comma-list-item" *ngFor="let tag of monster.BasicInfo.Tags">{{tag}}<span class="comma">,
            </span></span></span>)</span><span *ngIf="(monster.BasicInfo.Tags && monster.BasicInfo.Tags.length > 0) || monster.BasicInfo.Type || monster.BasicInfo.Size">,</span>
      {{alignmentString}}</em>

    <!--Basic Stats-->
    <div class="divider-thick"></div>

    <div class="info-list">
      <p><strong>Armor Class</strong> {{monster.Stats.AC.Score}} <span *ngIf="monster.Stats.ArmorType">({{monster.Stats.ArmorType}})</span></p>
      <p><strong>Hit Points</strong> {{monster.Stats.HPAverage}}
        ({{monster.Stats.HPRoll.Count}}d{{monster.Stats.HPRoll.Sides}}<span *ngIf="monster.Stats.HPRoll.Modifier != 0">{{monster.Stats.HPRoll.Modifier
          > 0 ? '+' : '-'}}{{monster.Stats.HPRoll.Modifier}}</span>)
      </p>
      <p><strong>Speed</strong> {{monster.Stats.Speed}} ft.<span *ngIf="monster.Stats.ExtraMovementTypes.length > 0">,</span>
        <span class="comma-list-item" *ngFor="let movement of monster.Stats.ExtraMovementTypes"> {{movement.Type}}
          {{movement.Distance}} ft.<span class="comma">,</span></span></p>
    </div>

    <!--Attributes-->
    <div class="divider-thick"></div>

    <div class="stats u-flex u-flex__justify--space-around u-text-center">
      <div>
        <h2>str</h2>
        <h2 class="sub">{{monster.Stats.Strength}} ({{strMod}})</h2>
      </div>

      <div>
        <h2>dex</h2>
        <h2 class="sub">{{monster.Stats.Dexterity}} ({{dexMod}})</h2>
      </div>

      <div>
        <h2>con</h2>
        <h2 class="sub">{{monster.Stats.Constitution}} ({{conMod}})</h2>
      </div>

      <div>
        <h2>int</h2>
        <h2 class="sub">{{monster.Stats.Intelligence}} ({{intMod}})</h2>
      </div>

      <div>
        <h2>wis</h2>
        <h2 class="sub">{{monster.Stats.Wisdom}} ({{wisMod}})</h2>
      </div>

      <div>
        <h2>cha</h2>
        <h2 class="sub">{{monster.Stats.Charisma}} ({{chaMod}})</h2>
      </div>
    </div>

    <!--Features-->
    <div class="divider-thick"></div>

    <div class="info-list">
      <p *ngIf="monster.Features.SavingThrows.length > 0">
        <strong>Saving Throws</strong>
        <span class="comma-list-item" *ngFor="let savingThrow of monster.Features.SavingThrows"> {{savingThrow.Name}}
          {{getST(savingThrow)}}<span class="comma">,</span></span>
      </p>

      <p *ngIf="monster.Features.Skills.length > 0">
        <strong>Skills</strong>
        <span class="comma-list-item" *ngFor="let skill of monster.Features.Skills">
          {{getSkill(skill)}}<span class="comma">,</span>
        </span>
      </p>

      <p *ngIf="monster.Features.DamageVulnerabilities.length > 0">
        <strong>Vulnerabilities</strong>
        <span class="comma-list-item" *ngFor="let v of monster.Features.DamageVulnerabilities">
          {{v}}<span class="comma">,</span>
        </span>
      </p>

      <p *ngIf="monster.Features.DamageResistances.length > 0">
        <strong>Damage Resistances</strong>
        <span class="comma-list-item" *ngFor="let r of monster.Features.DamageResistances">
          {{r}}<span class="comma">,</span>
        </span>
      </p>

      <p *ngIf="monster.Features.DamageImmunities.length > 0">
        <strong>Damage Immunities</strong>
        <span class="comma-list-item" *ngFor="let i of monster.Features.DamageImmunities">
          {{i}}<span class="comma">,</span>
        </span>
      </p>

      <p *ngIf="monster.Features.ConditionImmunities.length > 0">
        <strong>Condition Immunities</strong>
        <span class="comma-list-item" *ngFor="let i of monster.Features.ConditionImmunities">
          {{i}}<span class="comma">,</span>
        </span>
      </p>

      <p><strong>Senses</strong><span *ngIf="monster.Features.ExtraSenses.length > 0">,</span>
        <span *ngFor="let sense of monster.Features.ExtraSenses"> {{sense.Type}}
          {{sense.Distance}} ft.,</span> passive perception {{getPP()}}</p>
      <p *ngFor="let feature of monster.Features.ExtraFeatures"><strong>{{feature.Name}} </strong> <span [innerHTML]="feature.Description"></span></p>

      <p *ngIf="monster.Features.Languages.Languages.length > 0">
        <strong>Languages</strong>
        <span class="comma-list" *ngFor="let l of monster.Features.Languages.Languages">
          {{l}}<span class="comma">,</span>
        </span>
        <span *ngIf="!monster.Features.Languages.CanSpeak">, But Can't Speak</span>
        <span *ngIf="monster.Features.Languages.Telepathy > 0">, Telepathy {{monster.Features.Languages.Telepathy}}
          ft.</span>
      </p>

      <p><strong>Challenge</strong> {{cr}} ({{xp}} XP)</p>
    </div>

    <ng-container *ngTemplateOutlet="section; context: { list: monster.Features}"></ng-container>
    <ng-container *ngTemplateOutlet="section; context: { list: monster.Actions, title: 'Actions'}"></ng-container>
    <ng-container *ngTemplateOutlet="section; context: { list: monster.LegendaryActions, title: 'Legendary Actions', desc: monster.LegendaryActionsDescription}"></ng-container>
  </div>
  <div class="scroll">

  </div>

  <ng-template #section let-list="list" let-title="title" let-desc="LegendaryActionsDescription">
    <div *ngIf="list && list.length > 0">

      <div *ngIf="title; else bar">
        <h3>{{title}}</h3>
        <hr />
      </div>

      <ng-template #bar>
        <div class="divider-thick"></div>
      </ng-template>

      <p *ngIf="desc">{{desc}}</p>

      <div class="info-list actions">
        <p *ngFor="let item of list"><strong>{{item.Name}}. </strong> <span [innerHTML]="item.Description"></span></p>
      </div>
    </div>
  </ng-template>
</div>