<p class="u-flex">
	<strong class="u-flex__shrink--no">Components:</strong>
	<ng-container *ngIf="components; else noComponents">
		<span class="u-margin-left u-text-comma-list">
			<span *ngIf="components.verbal">V</span>
			<span *ngIf="components.somatic">S</span>
			<span *ngIf="components.material && components.material.length > 0">M (<span class="u-text-comma-list text-lowercase"><span
						*ngFor="let material of components.material">{{material}}</span></span>)</span>
		</span>
	</ng-container>
	<ng-template #noComponents>
		<p><em> [Not Set]</em></p>
	</ng-template>
</p>